body {
  background-color: #a9c3d7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2.5rem;
}
#screen {
  border: 40px solid #fff;
  background-color: #f5f5f5;
  width: 768px;
  height: 1360px;
  border-radius: 10px;
  padding: 25px;
}
.form-control-lg {
  height: 70px;
}
li {
  list-style: none;
}
.contact {
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 100px auto;
  height: 100px;
}
.contact-image {
  background-color: #a9c3d7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.fw-light {
  font-size: 1.2rem;
}
.contact-image {
  font-size: 2.5rem;
  color: #fff;
}
